### Required Packges

In [11]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

### Define and Read Data

In [12]:
data = pd.read_csv('Datasets\preprocessed_titanic_data.csv')

In [13]:
data.head(3)

,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,...,Pclass_2,Pclass_3,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]","Categorized_age_(70, 80]"
0,0,1,0,7.2500,0,1,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
1,1,1,0,71.2833,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,7.9250,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0

### Features and Labels

In [14]:
features = data.drop(["Survived"], axis=1)
label = data["Survived"]

### Split Data

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_x, test_x, train_y, test_y = train_test_split(features, label, test_size=0.4, random_state=42)

In [17]:
print(len(train_x))
print(len(test_x))
print(len(train_y))
print(len(test_y))

534
357
534
357

### Model

In [18]:
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression()
lr_model.fit(train_x, train_y)

LogisticRegression()

In [20]:
print("Scores of the model")
print("Logistic regression: {:.3f}%".format(lr_model.score(test_x, test_y)*100))

Scores of the model
Logistic regression: 79.272%

In [22]:
y_pred = lr_model.predict(test_x)

In [52]:
def correct_pos(y_pred, test_y):
    count = 0
    for i in range(len(y_pred)):
        if y_pred[i]:
            if test_y.iloc[i] == 1:
                count +=1
    return count

### Confusion Matrix on Labels

In [40]:
label.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [53]:
def recall(label, y_pred, test_y):
    print(correct_pos(y_pred, test_y) / len(test_y))

In [54]:
recall(label, y_pred, test_y)

0.27170868347338933